.boxVisible, .boxHidden {
    height: calc(var(--vh, 1vh) * 85); /*VH*/
    position: fixed;
    left: 0;
    width: 100vw;
    background-color: white;
    z-index: 10;

    --border-radius: 10px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    box-shadow: 0px -5px 15px #00000055;

    display: flex;
    flex-direction: column;

    padding-top: 25px;
    padding-bottom: 10px;

    transition: top 0.4s ease-in;
    justify-content: space-between;
}

.boxVisible {
    bottom: 0;
}

.boxHidden {
    top: 120%;
}

.summaryItem {
    text-align: center;
}

.summaryItem h1 {
    margin-bottom: 1%;
}

.summaryItem div {
    text-align: left;
    padding-left: 4vw;
    padding-right: 4vw;
}

.separator {
    width: 90%;
    height: 2px;
    background-color: #00000044;
    margin-left: 5%;

}

.closeButton {
    position: absolute;
    right: 2vw;
    top: 2vw;
    width: 8vw;
    height: 8vw;

    border-radius: 50%;
    border: 0;
    background-color: white;
}

.closeButton img {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
}

.closeButton:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.closeButton:active {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

@media (min-width:961px) {
    .boxVisible, .boxHidden {
        height: calc(var(--vh, 1vh) * 50); /*VH*/
        padding-left: 20vw;
        padding-right: 20vw;
        padding-bottom: 5vh;
    }

    .closeButton {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 5vh;
        height: 5vh;
    
        border-radius: 50%;
        border: 0;
        background-color: white;
    }
}