.boxVisible, .boxHidden {
    height: 80vh;
    position: fixed;
    left: 0;
    width: 100vw;
    background-color: white;
    z-index: 10;

    --border-radius: 10px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    box-shadow: 0px -5px 15px #00000055;

    display: flex;
    flex-direction: column;

    padding-top: 35px;

    transition: top 0.4s ease-in;
}

.boxVisible {
    top: 20vh;
}

.boxHidden {
    top: 120vh;
}

.summaryItem {
    text-align: center;
}

.summaryItem h1 {
    margin-bottom: 1vh;
}

.summaryItem div {
    text-align: left;
    padding-left: 4vw;
    padding-right: 4vw;
}

.separator {
    width: 90%;
    height: 2px;
    background-color: #00000044;
    margin-left: 5%;

    --separator-margin-help: 3vh;
    margin-top: var(--separator-margin-help);
    margin-bottom: var(--separator-margin-help);
}

.closeButton {
    position: absolute;
    right: 2vw;
    top: 2vw;
    width: 8vw;
    height: 8vw;

    border-radius: 50%;
    border: 0;
    background-color: white;
}

.closeButton img {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
}

.closeButton:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.closeButton:active {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}