.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-top: calc(var(--vh, 1vh) * 7); /*VH*/
}

.gameView {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(var(--vh, 1vh) * 7); /*VH*/
  left: 0vw;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 55); /*VH*/
  padding-left: 12.5vw;
  padding-right: 12.5vw;
}

.info {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1vh;
}

.infoEntry {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.undoRow {
  display: flex;
  position: fixed;
  top: calc(var(--vh, 1vh) * 63); /*VH*/
  flex-direction: row;
  width: 75vw;
}

.undoButton, .undoHistoryButton {
  flex-grow: 1;
  background-color: rgb(var(--background-rgb));
  border: 2px solid rgb(var(--foreground-rgb));
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-weight: bold;
  height: calc(var(--vh, 1vh) * 5); /*VH*/
  font-size: calc(var(--vh, 1vh) * 2.8); /*VH*/
}

.undoHistoryButton {
  margin-right: 1vw;
}

.undoButton:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.undoButton:active {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

@media (min-width:961px) {
  .gameView {
    width: 50vw;
    left: 25vw;
  }

  .undoRow {
    width: 25vw;
  }

  .undoHistoryButton {
    margin-right: 0.25vw;
  }


}