.container {
    position: fixed;
    left: 2vw;
    bottom: 0.5vh;
    width: 96vw;
    height: calc(var(--vh, 1vh) * 30); /*VH*/

    display: flex;
    flex-direction: column;
}

.keyboardRow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.keyboardKey, .keyboardKeyLast {
    border-radius: 2px;
    border: 2px solid black;
    flex-grow: 1;
    margin-bottom: 1vh;
    text-align: center;
    font-weight: bold;
}

.keyWhite {
    background-color: white;
    border-color: black;
}

.keyAmber {
    background-color: var(--code-amber);
    color: white;
}

.keyGrey {
    background-color: var(--code-grey);
    color: white;
}

.keyGreen {
    background-color: var(--code-green);
    color: white;
}

.keyboardKey {
    margin-right: 0.5vw;
}

.enterKey {
    --key-height: 6vw;
    height: var(--key-height);
}

.backspaceKey {
    --key-height: 4vw;
    height: var(--key-height);
}

.keyboardKey:hover, .keyboardKeyLast:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.keyboardKey:active, .keyboardKeyLast:active {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

@media (min-width:961px) {
    .container {
        width: 40vw;
        left: 30vw;
    }

    .enterKey {
        --key-height: 4vh;
        height: var(--key-height);
    }
    
    .backspaceKey {
        --key-height: 3vh;
        height: var(--key-height);
    }

    .keyboardRow {
        display: flex;
        flex-direction: row;
        flex: 1;
    }
}